@use "./gi";

html {
  box-sizing: border-box;
  height: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
  box-sizing: inherit;
  border: 0;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

// Additional global styles for the component
:deep(*) {
  color: gi.$text-primary;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
